{{define "nav.html"}}
<div class="navbar bg-base-100 shadow-lg">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Cleaning Scheduler</a>
    </div>
    <div class="flex-none">
        {{if .User}}
        <ul class="menu menu-horizontal px-1">
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/import">Import</a></li>
            <li>
                <details>
                    <summary>{{.User.Username}}</summary>
                    <ul class="p-2 bg-base-100 z-10">
                        <li><a href="/reset-password">Reset Password</a></li>
                        <li>
                            <form method="POST" action="/logout">
                                <button type="submit" class="btn btn-ghost btn-sm w-full">Logout</button>
                            </form>
                        </li>
                    </ul>
                </details>
            </li>
        </ul>
        {{end}}
    </div>
</div>
{{end}}